In [41]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv("training_diabetes.csv")

In [43]:
df_test = np.loadtxt("test_diabetes.csv", delimiter = ",")

In [44]:
df.describe()

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,-0.000214,-0.000293,0.000053,-0.001045,-0.001423,-0.001220,0.000440,-0.001473,-0.001594,0.000099,149.722054
std,0.047207,0.047618,0.048627,0.047621,0.047371,0.046936,0.047303,0.046591,0.048088,0.047263,76.796907
min,-0.107226,-0.044642,-0.090275,-0.102071,-0.126781,-0.115613,-0.102307,-0.076395,-0.126097,-0.137767,25.000000
25%,-0.034575,-0.044642,-0.035307,-0.036656,-0.035968,-0.029967,-0.032356,-0.039493,-0.035817,-0.034215,84.000000
50%,0.005383,-0.044642,-0.008362,-0.005671,-0.004321,-0.004445,-0.006584,-0.002592,-0.005145,-0.001078,138.000000
75%,0.038076,0.050680,0.030979,0.032775,0.027326,0.028905,0.026550,0.034309,0.032124,0.027917,202.000000
max,0.110727,0.050680,0.170555,0.132044,0.153914,0.198788,0.181179,0.185234,0.133599,0.135612,346.000000

#### no missing values, can replace them by mean, mode value, or delete the rows

In [45]:
df

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
...,...,...,...,...,...,...,...,...,...,...,...
326,0.012648,-0.044642,-0.020218,-0.015999,0.012191,0.021233,-0.076536,0.108111,0.059881,-0.021788,233.0
327,0.019913,-0.044642,-0.057941,-0.057314,-0.001569,-0.012587,0.074412,-0.039493,-0.061177,-0.075636,63.0
328,0.023546,-0.044642,0.070319,0.025315,-0.034592,-0.014466,-0.032356,-0.002592,-0.019197,-0.009362,288.0
329,0.016281,0.050680,0.072474,0.076958,-0.008449,0.005575,-0.006584,-0.002592,-0.023645,0.061054,131.0
330,-0.009147,0.050680,-0.030996,-0.026328,-0.011201,-0.001001,-0.021311,-0.002592,0.006209,0.027917,42.0

In [46]:
X_train = df.loc[:, df.columns != "Y"]

In [47]:
Y_train = df.loc[:, "Y"]

In [48]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression()

In [49]:
y_predict = reg.predict(df_test)

In [50]:
y_train_predict = reg.predict(X_train)

In [51]:
from sklearn.metrics import mean_squared_error
mse_self_implement = mean_squared_error(Y_train, y_train_predict)
 
print("MSE: ", mse_self_implement)

u = ((Y_train - y_train_predict)**2).sum()
v = ((Y_train - Y_train.mean())**2).sum()
score = 1 - u/v
print("Train score : ", score)

MSE:  2965.134893735544
Train score :  0.4957208055805604

In [54]:
#weights and intercept term
weights = reg.coef_          
intercept = reg.intercept_
print("Coeffecient for x is:", weights)
print("Intercept value is:", intercept)

Coeffecient for x is: [  21.73408096 -256.66866675  569.60940087  303.63233545 -833.11088526
  525.74313633  136.07129167  140.89458927  731.44498492   53.32119133]
Intercept value is: 150.702574894566

In [53]:
y_predict

array([105.52974799, 105.8039198 , 178.60857225,  79.3828781 ,
        52.95868706,  98.87263854, 150.71755448,  34.86515216,
       113.13535727, 161.50184038, 135.8615611 ,  94.71592222,
       138.48094422, 141.37441723, 158.76862662, 171.65288616,
       106.44835654, 103.92659639,  95.38693889, 167.40118092,
       166.53426278, 101.53464712, 252.45035972, 147.02258547,
       214.78906632, 161.27557106, 210.61315228,  71.78091585,
       189.65032431, 206.6134259 , 219.98643455, 168.80192534,
       116.84846127, 178.74399639,  77.03247418,  59.54633214,
       111.5673781 , 156.95186739, 154.59591259, 198.94457493,
       115.53884017, 153.46699024,  84.96179518, 113.70337192,
       142.14155617, 147.31040378,  82.78072358,  77.89237327,
       128.99006192, 261.58712282, 213.31187775, 243.98791257,
       167.68132094, 183.69712124, 166.85926884, 202.11440188,
       220.39235543, 172.40288024, 176.60897931, 109.04656567,
       276.37789836,  90.99941821, 289.37221147, 119.56253351,
        75.45687948, 180.78598759, 146.62093081, 156.42382465,
        41.079036  , 247.90645166, 207.99121432,  90.09641075,
       222.24169638, 189.86378006, 182.2695376 , 164.39881376,
       190.27066587, 105.4486795 , 199.86136394, 245.796388  ,
       123.20281334, 119.41031908, 145.86620411, 206.19247291,
       150.86282453, 142.23221646, 154.56874616, 115.29233396,
       134.07810123, 118.42225404, 203.5767555 , 170.66483797,
       127.409797  ,  57.13507634, 231.92226503, 185.20713654,
       187.37494558,  83.55920849, 185.42585685, 217.34035639,
       108.86715354,  80.98714568, 127.05524123, 242.00738792,
       155.9723414 , 125.67575276, 246.41235643, 234.963933  ,
       191.51298252, 168.33254477, 163.02965178])

#### can use ridge/ lasso regression/ Elastic net for better fit

In [61]:
np.savetxt("Y_test.csv", y_predict, delimiter=",")